@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #00ff00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', Courier, monospace;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* MIDI Keys Assignment */
.piano-key {
  cursor: pointer;
}
.piano-key.active {
  fill: green;
}
.piano-key:hover {
  fill: red !important;
}
.piano-key.white path {
  pointer-events: all;
}
.piano-key.white:hover path {
  fill: red !important;
}
.piano-key.white.active path {
  fill: red !important;
}

/* Custom range input for vertical slider */
input[type="range"].custom-vertical {
  appearance: none;
  background: transparent;
  writing-mode: bt-lr; /* vertical */
  height: 130px;
  width: 4px;
}

/* Track styling */
input[type="range"].custom-vertical::-webkit-slider-runnable-track {
  height: 4px; /* Visible track height after rotation */
  background: transparent;
  border: 1px solid currentColor;
}

input[type="range"].custom-vertical::-webkit-slider-thumb {
  appearance: none;
  width: 6px;  /* width after rotation becomes height */
  height: 20px; /* height after rotation becomes visible width */
  background: var(--color-background);
  border: 1px solid currentColor;
  cursor: pointer;
  margin-top: -9px;
  &:hover {
    background: currentColor;
  }
}

input[type="range"].custom-vertical::-moz-range-track {
  height: 4px;
  background: currentColor;
}

input[type="range"].custom-vertical::-moz-range-thumb {
  width: 6px;
  height: 20px;
  background: transparent;
  border: 2px solid currentColor;
  cursor: pointer;
}
