@import "tailwindcss";

:root {
  --background: #171717;
  --foreground: #00ff00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Space Mono", monospace;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* MIDI Keys Assignment */
.piano-key {
  cursor: pointer;
}
.piano-key.active {
  fill: green;
}
.piano-key:hover {
  fill: red !important;
}
.piano-key.white path {
  pointer-events: all;
}
.piano-key.white:hover path {
  fill: red !important;
}
.piano-key.white.active path {
  fill: red !important;
}
